body{
    background-color: #F6FCFF;
    background-image: url("../images/flower.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

}
.character{
    width: 100%;
    max-width: 364px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

}

/* CSS 코드 */
.btn1, .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px; /* 너비를 200px로 고정 */
    margin: 30px auto; /* 상단과 하단에 10px의 간격을 추가 */
}

.btn1 img, .btn2 img {
    display: block;
    max-width: 100%;
}
