<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/static/css/notice_board.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/def66b134a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<header>
    <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />
    <!-- Bootstrap CSS -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MBTI 검사하기</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id ="navbarContent">
            <ul class ="navbar-nav mr-auto">
                <li class ="nav-item dropdown">
                    <a class ="nav-link dropdown-toggle" href="#" id ="navbarDropdownMenuLink1"
                       role = "button"
                       data-toggle = "dropdown"> 게시판 </a>
                    <div class = "dropdown-menu">
                        <!-- Add other MBTI types as needed -->
                        <a class = "dropdown-item" href="/notice_board/estj">ESTJ</a>
                        <a class = "dropdown-item" href="/notice_board/entj">ENTJ</a>
                        <a class = "dropdown-item" href="/notice_board/istj">ISTJ</a>
                        <a class = "dropdown-item" href="/notice_board/esfj">ESFJ</a>
                        <a class = "dropdown-item" href="/notice_board/isfj">ISFJ</a>
                        <a class = "dropdown-item" href="/notice_board/estp">ESTP</a>
                        <a class = "dropdown-item" href="/notice_board/istp">ISTP</a>
                        <a class = "dropdown-item" href="/notice_board/esfp">ESFP</a>
                        <a class = "dropdown-item" href="/notice_board/isfp">ISFP</a>
                        <a class = "dropdown-item" href="/notice_board/intj">INTJ</a>
                        <a class = "dropdown-item" href="/notice_board/enfj">ENFJ</a>
                        <a class = "dropdown-item" href="/notice_board/infj">INFJ</a>
                        <a class = "dropdown-item" href="/notice_board/entp">ENTP</a>
                        <a class = "dropdown-item" href="/notice_board/intp">INTP</a>
                        <a class = "dropdown-item" href="/notice_board/enfp">ENFP</a>
                        <a class = "dropdown-item" href="/notice_board/infp">INFP</a>
                    </div>
                </li>
            </ul>
                <!-- Login link here -->
                <ul class="navbar-nav" id="right-nav" style="justify-content: flex-end">
                    <li class="nav-item">
                        <a href="#" th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" th:href="@{/member/logout}" sec:authorize="isAuthenticated()" style="margin-right: 30px;">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a href="/mypage" th:href="@{/mypage}" sec:authorize="isAuthenticated()">MY PAGE</a>
                    </li>
                </ul>

        </div>

    </nav>

<!-- Include Bootstrap JS at the end of your file for improved loading speed-->
<script src = "https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</header>

<!--    <section>-->
        <style>
            .gpt-content {
                width: 1280px;
                padding: 10px;
                height: 400px;
                overflow-y: scroll;
                background-color: #fff;
                margin: auto;
                margin-bottom: 30px;
            }
            .chat {
                clear:both; /* float된 요소의 영향 받지 않게 함 */
                margin-bottom: 10px;
            }
            .gpt-chat {
                display: inline-block;
                background-color: #2589ef;
                color:#fff;
                padding: 10px;
                margin-bottom: 5px;
                position:relative;
                border-radius :5px ;
                max-width: 60%;
            }
            .my-chat {
                display:inline-block;
                background-color:#4caf50;
                color:white;
                padding-left:10px;
                padding-right:10px;
                margin-bottom: 5px;
                border-radius :5px ;
                position:relative;
                float:right;
                max-width: 60%;
            }
        </style>

<!--        <h2 sec:authorize="isAnonymous()" th:text="${myMbti}">기본값</h2>-->
        <h2 id="myMbtiValue" th:text="${myMbti}">기본값</h2>
        <div id = "resultmbti">
        </div>
<div class="chatcontent">
    <div id="special-section">
        <p>궁금한 것을 질문해 보세요!</p>
        <div class="question_subtext" style="display: flex; justify-content: center">
            <div class="qa">너의 mbti가 뭐야?</div>
            <div class="qa">너의 취미가 뭐야?</div>
        </div>


    </div>
    <div class="gpt-content" id="chatbox">
        <div class="chat">
            <span class="gpt-chat">반가워요!</span>
        </div>
        <!--            <div class="chat">-->
        <!--                <span class="my-chat">hi gpt</span>-->
        <!--            </div>-->
    </div>
    <div class="usersend">
        <input id="userInput" type="text" placeholder="AI와 채팅을 해보세요!">
        <button onclick="sendMessage()">Send</button>
    </div>
</div>


        <div id="spinner" class="spinner-border text-info" role="status" style="display: none; position: absolute; top: 50%; left: 50%">
            <span class="visually-hidden"></span>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function sendMessage() {
                var userInput = $('#userInput').val(); // 사용자 입력 받기

                var newChatDiv = $('<div>').addClass('chat');

                var newChatSpan = $('<span>').addClass('my-chat').text(userInput);


                newChatDiv.append(newChatSpan);


                $('#chatbox').append(newChatDiv);


                $('#userInput').prop('disabled', true);
                $('button').prop('disabled', true);

                // Show spinner
                $('#spinner').show();

                $.ajax({
                    url: '/api/openai',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        model:'gpt-3.5-turbo',
                        messages:[{
                            role:'user',
                            content:userInput
                        }],
                        temperature :1,
                        max_tokens :256,
                        top_p :1,
                        frequency_penalty :0,
                        presence_penalty :0
                    }),
                    beforeSend:function(xhr){
                        xhr.setRequestHeader("X-CSRF-TOKEN", $("#csrfToken").val());
                    },
                    success:function(response){

                        if (typeof response === 'string') {
                            response = JSON.parse(response);
                        }

                        if (response.choices && response.choices.length > 0 && response.choices[0].message) {
                            console.log(response.choices[0].message.content);
                            // Create a new div for the chat message.
                            var newChatDiv = $('<div>').addClass('chat');

                            // Create a new span for the chat content.
                            var newChatSpan = $('<span>').addClass('gpt-chat').text(response.choices[0].message.content);
                            $('#userInput').prop('disabled', false);
                            $('button').prop('disabled', false);

                            $('#spinner').hide();


                            newChatDiv.append(newChatSpan);


                            $('#chatbox').append(newChatDiv);
                        } else {
                            console.error('Unexpected server response', response);
                            $('#userInput').prop('disabled', false);
                            $('button').prop('disabled', false);

                            $('#spinner').hide();
                        }
                        $('#userInput').val('');
                    },
                });
            }
        </script>



        </script>

<div>
    <!--comment---------------------------------------------------------------------------------->
    <div id="form-commentInfo">
        <div id="comment-count">댓글 <span id="count">0</span></div>
        <input id="comment-input" onkeyup="enterkey();" placeholder="댓글 작성">
        <button id="submit">등록</button>
    </div>
    <br>


    <form style="margin: auto; width: 1280px;">
        <label for="comment-sort">댓글 정렬:</label>
        <select id="comment-sort" style="width:90px; height:40px; margin-bottom: 20px; border-radius: 20px; font-size: 15px; margin-top: 40px;">
            <option value="popular">추천순</option>
            <option value="newest">최신순</option>
        </select>
    </form>

    <div id=comments>

    </div>
</div>

        <script src="/static/js/notice_board.js"></script>
        <script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>